.button {
  line-height: 1.1;
  font-weight: 500;
  border: transparent;
  color: var(--light-text-color);
  background: var(--main-color);
  border-radius: 2px;
  padding: var(--size-h) var(--size-1);
}
