.header {
  position: fixed;
  width: calc(100% - var(--size-2)*2);
  height: var(--header-height);
  padding: 0 var(--size-2);
  background: #FFFFFF;
  box-shadow: 0 0 var(--size-h) rgba(39, 40, 49, 0.03);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 960px) {
    width: calc(100% - var(--size-h)*2);
    padding: 0 var(--size-h);
  }

  nav {
    .main-logo {
      width: var(--size-2);
      height: var(--size-2);
      margin: 0 var(--size-1) 0 0;
    }
    
  }

  .logo {
    width: var(--size-4);
  }

  .avatar {
    width: var(--size-2);
    height: var(--size-2);
    margin: 0 0 0 var(--size-1);
    border-radius: 50%;
  }
}

.header-compensator {
  width: 100%;
  height: var(--header-height);
}