@import "./reset.scss";
@import "./variables.scss";
@import "./mixins.scss";

@import '../node_modules/react-tabs/style/react-tabs.scss';

@include spacing;

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: column;
}
.align-center {
  display: flex;
  align-items: center;
}
.justify-center {
  display: flex;
  justify-content: center;
}

.viewport {
  width: calc(100% - var(--size-2)*2);
  padding: 0 var(--size-2);
  min-height: calc(100vh - var(--header-height));

  @media (max-width: 960px) {
    width: calc(100% - var(--size-h)*2);
    padding: 0 var(--size-h);
  }
}

.title {
  font-size: var(--size-2);
}
.paragraph {
  font-size: var(--size-1);
}
.small {
  font-size: var(--size-h);
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-normal {
  font-weight: 500;
}
.main-color-text {
  color: var(--main-color);
}
.secondary-color-text {
  color: var(--secondary-dark-color);
}

.hide-mobile {
  @media (max-width: 960px) {
    display: none;
  }
}
.show-mobile {
  @media (max-width: 960px) {
    display: block;
  }
}
