body {
  --main-bg: #FAFAFD;
  --main-color: #FE5459;
  --light-text-color: #ffffff;
  --dark-text-color: #272831;
  --secondary-dark-text-color: #9193A9;

  --size-1: 0.1em;
  --size-2: 0.2em;
  --size-3: 0.5em;
  --size-4: 1em;
  --size-5: 2em;
  --size-6: 5em;
  --size-7: 8em;
  --size-8: 16em;
  --size-9: 32em;
}