body {
  --main-bg: #FAFAFD;
  --main-color: #FE5459;
  --main-light-color: #ffffff;
  --main-dark-color: #272831;
  --secondary-light-color: #f1f1f1;
  --secondary-dark-color: #9193A9;

  --size-h: 0.5em;
  --size-1: 1em;
  --size-2: 1.5em;
  --size-3: 3em;
  --size-4: 4em;

  --header-height: var(--size-3);
}